NEXT_PUBLIC_SUPABASE_URL=https://wkhidacuzxscaquawzrx.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=sb_publishable__1RrZOux3u1dT7eCgK_AqA_eP9Fc7Lo
SUPABASE_SERVICE_ROLE_KEY=your_service_role_key_here

PORT=3000
NODE_ENV=development

JWT_SECRET=your_jwt_secret_here
JWT_EXPIRES_IN=7d
